In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [3]:
df = pd.read_csv('epa-sea-level.csv')
df.sample(5)

,Year,CSIRO Adjusted Sea Level,Lower Error Bound,Upper Error Bound,NOAA Adjusted Sea Level
76,1956,3.763780,3.488189,4.039370,NaN
126,2006,7.917323,7.645669,8.188976,7.69742
85,1965,4.610236,4.346457,4.874016,NaN
81,1961,4.748031,4.488189,5.007874,NaN
6,1886,0.437008,-0.381890,1.255906,NaN